
:root{
    font-family: SVN-Gilroy Light;
}
#home{
    z-index: 5;
    position: fixed;
    bottom: 50px;
    right: 10px;
}
html{
    scroll-behavior: smooth;
}
#block1_bg{
    position: relative;
    width: 100%;
}
#navigation1{
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 345px;
}
a.nav{
    text-decoration: none;
    margin-right: 100px;
    color: #0C3050;
}
#nav_bar{
    left: 660px;
    top: 48px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-weight: 500;
    
}
#heading{
    position: absolute;
    font-size: 24px;
    left: 345px;
    top: 200px;
    font-family: SVN-Gilroy Bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
#apply_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 40px;
    background-color: #0C3050;
    color: white;
    border-radius: 50px;
}
#block1_p1{
    font-style: italic;
    position: absolute;
    font-size: 16px;
    left: 345px;
    top: 344px;
    font-family: SVN-Gilroy Bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
#block1_p2{
    margin-top: 5px;
    width: 705px;
    top: 365px;
    position: absolute;
    font-size: 16px;
    left: 345px;
    line-height: 24px;
}
#block1_p3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 461px;
    left: 334px;
    border: 2px solid #0C3050;
    border-radius: 50px;
    width: 193px;
    height: 48px;
    font-size: 16px;
    font-family: SVN-Gilroy Bold;
}
#block2_p1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 24px;
    color: #CF585E;
    font-family: SVN-Gilroy Bold;
}
#block2_p2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    width: 808px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: SVN-Gilroy Bold;
}
#block3{
    position: relative;
    height: 1704px;
    width: 100%;
}
#block2-bg{
    position: relative;
}
.Khoi{
    position: absolute;
    left: 0px;
    top: 0px
}
#block4{
    position: relative;
    height: 760px;
    width: 100%;
    background: #5974871A;
    margin-top: 84px;
}
#next{
    position: absolute;
    top: 597px;
    left: 975px;
}
#block4_p{
    position: absolute;
    width: 600px;
    height:269px;
    top: 96px;
    left: 975px;
}
#block4_p1{
    color: #CF585E;
    font-size: 24px;
    font-family: SVN-Gilroy Bold;
    line-height:56px;
    margin-bottom: 0px;  
}
#block4_p2{
    color:#0C3050;
    font-size: 48px;
    font-weight: 700;
    line-height:56px;
    margin-top: 0px; 
    margin-bottom: 0px;   
    font-family: SVN-Gilroy Bold;
}
.block4_p3{
    color: #597487;
    margin-top: 0px; 
    font-size: 16px;
    font-weight: 500;
    line-height:24px;
}
#block5{
    position: relative;
    width: 100%;
}
#block5_p1{
    font-size: 24px;
    font-family: SVN-Gilroy Bold;
    color:#CF585E;
    margin-bottom: 0px;
}
#block5_p2{
    margin-top: 0px;
    font-size: 48px;
    font-family: SVN-Gilroy Bold;
    color: white;
}
#block5_img_container{
    top: 0px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 930px;
}
#block5_p{
    top: 210px;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 930px;
}
.block5_p1{
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: SVN-Gilroy Bold;
    color:#D64F3C;
    ;
}
.block5_p2{
    font-size: 24px;
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: SVN-Gilroy Bold;
}
.container_p1{
text-align: left;
width:390px;
margin-left: 30px;
background-color: white;
border-bottom-left-radius:  10px;
border-bottom-right-radius: 10px;
font-weight: 700;
font-size: 16px;
}
#tim_hieu_them{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 100px;
    width: 100%;
}
#button{
    bottom: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 240px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
}
#tim_hieu_button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #CF585E;
    width: 240px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 19px;
    color: white;
}
#block6{
    position: relative;
    height: 950px;
    width: 1920px;
    background-color: #EFF2F3;
}
#block6_p1{
    text-align: center;
    font-family: SVN-Gilroy Bold;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 80px;
    color:#CF585E;
}
#block6_p2{
    text-align: center;
    font-family: SVN-Gilroy Bold;
    font-size: 48px;
    margin-top: 0px;
}
#block7{
    position: relative;
    height: 248px;
    width: 1920px;
    background-color: #EAACAD;
    z-index: 1;
}
#block7_img_container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 345px;
    top: 164px;
}
p.block7_p1{
    position: absolute;
    width: 344px;
    font-size: 18px;
    left: 345px;
    color: #0C3050;
    ;
}
p.block7_p2{
    color: #0C3050;
    position: absolute;
    font-size: 18px;
    left: 870px;
}
#block7_p3{
    color: #0C3050;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    top: 56px;
    left: 1185px;
}
#text_input{
    font-size:20px;
    position: absolute;
    width: 270px;
    height: 41px;
    top: 108px;
    left: 1185px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#input_button{
    font-family: SVN-Gilroy Bold;
    color: white;
    background-color: #0C3050;;
    position: absolute;
    height: 47px;
    width: 120px;
    top: 108px;
    left: 1460px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#sign_up{
    position: relative;
    width:810px;
    height: 539px;
    background-color: white;
    top: 20px;
    left: 555px;
    border-radius: 20px;
}
#ho_ten{
    font-size: 20px;
    position: absolute;
    height: 56px;
    width: 354px;
    border-radius: 10px;
    left: 36px;
    top: 36px;
}
#vi_tri{
    font-size: 20px;
    position: absolute;
    height: 56px;
    width: 317px;
    border-radius: 10px;
    left: 36px;
    top: 108px;  
}
#email{
    font-size: 20px;
    position: absolute;
    height: 56px;
    width: 368px;
    border-radius: 10px;
    left: 406px;
    top: 36px;  
}
#cv{
    font-size: 20px;
    position: absolute;
    height: 56px;
    width: 405px;
    border-radius: 10px;
    left: 369px;
    top: 108px;   
}
#thu_ung_tuyen{
    font-size: 20px;
    position: absolute;
    height: 231px;
    width: 738px;
    border-radius: 10px;
    left: 36px;
    top: 180px;
}
#send_button{
    position: absolute;
    width:240px;
    height: 56px;
    border-radius: 10px;
    background-color: #CF585E;
    font-family: SVN-Gilroy Bold;
    font-size: 16px;
    color: white;
    top: 443px;
    left: 534px;
}
#block8{
    width: 1920px;
    height: 80px;
    background-color:#CF585E;
    position: relative;
    display: flex;
    align-items: center;
}